/* about section */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color:#191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
     color: white;
     font-size: 75px;
     text-transform: capitalize;
     margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    letter-spacing: 1px;
    margin-bottom: 45px;
    color: violet;
    font-size: 18px;
    line-height: 28px;
}
button{
     background-color: #f9004d;
     color: white;
     border: 2px solid transparent;
     font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 1s;
    margin-bottom: 40px;
    }
 button:hover{
    background-color: transparent;
    border: 2px solid  #f9004d;
    cursor: pointer;
 } 

 